.input-data-div {
    text-align: left;

}

.input-data p {
    margin: 0;
}

.input-data input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #aeaeae;
    padding: 10px;
}

.input-data input::placeholder {
    color: #aeaeae;
}

